# Terraform files to ignore
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform/
.terraform.lock.hcl
*.tfrc
terraform.rc

# OS and Editors
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Shell scripts and logs
*.log

# Jekyll build artifacts
_site/

# Python files to ignore
__pycache__/
*.py[cod]
*$py.class
